@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
}

:root{
  --font-title-firaSans: 'Fira Sans', sans-serif;
  --mainBackground-dark-blue: #142849;
  --mainText-white: #ffffff;
  --accentElement-terquoise: #4DDFE9;
  --rangeSlider-ocean: #0F92E4; 
}

body {
  background: var(--mainBackground-dark-blue);
  color: var(--mainText-white);
}