.UploadSongButton--wrapper{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.UploadSongButton--wrapper .UploadInput {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.UploadSongButton {
  border-radius: 4px;
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  color: var(--rangeSlider-ocean);
  border: 1px solid #ffffff;
}

.UploadSongButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}
