.UploadSongButton--wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.UploadSongButton--wrapper .UploadInput {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.UploadSongButton {
  letter-spacing: 1px;
  font-family: var(--font-ordinary);
  font-size: var(--fontSize-text);
  border-radius: 4px;
  width: 200px;
  height: 30px;
  background-color: var(--rangeSlider-ocean);
  color: var(--mainText-ordinary-white);
  border: 1px solid var(--mainText-accent-blue);
}

.UploadSongButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.UploadSongButton svg {
  font-size: var(--fontSize-ButtonsIcons);
  margin-right: 5px;
}