.modalSavePressetesWindow {
  color: var(--mainText-ordinary-white);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  margin-left: -200px;
  left: 50%;
  background-color: var(--headerBackground-dark-super);
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  z-index: 101;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.headerModalWindow {
	text-align: right
}

.textArea strong {
  text-align: center;
  padding-left: 20px;
  font-family: var(--font-title);
}


.textArea ins {
  font-family: var(--font-ordinary);
  text-decoration: none;
}

.textArea > * {
	display: block;
	margin-top: 10px;
}

.pressetesButtons {
  position: absolute;
  bottom: 20px;
  width: 100%;    
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
