@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.MainFooterContainer{
  font-family: 'Bitter', serif;
  background-color: #242625;
  text-align: center;
  color: #A0A0A0;
}

.MainFooterContainer p, h4 {
  margin: 0;
}