@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.MainFooter-container{
  font-family: 'Bitter', serif;
  background-color: #242625;
  text-align: center;
  color: #A0A0A0;
}
.MainFooter-container 

.MainFooter-container p, h4 {
  margin: 0;
}