.MainPageHeaderContainer{
    color: var(--mainText-white);
    display: flex;
    padding: 10px 15px 10px 15px;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
.AppLogo img{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
}
