.MainPageHeaderContainer{
    display: flex;
    padding: 0px 25px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    background-color: var(--headerBackground-dark-super);
}

.AppLogoContainer{
  color: var(--mainText-ordinary-white);
  font-family: var(--font-title-firaSans);
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 2rem;
 }
.AppLogoContainer .Node {
  margin-left: 10px;
  font-size: 16px;
}
.AppLogoContainer img{
  height: 60px;
  width: 70px;
  color: var(--mainText-ordinary-white);
}
 
 .UserName span {
   margin-left: 10px;
   color: var(--mainText-ordinary-white);
   font-size: var(--fontSize-text);
 }

 .UserName svg {
   color: var(--mainText-accent-blue);
 }