.field input, button[class=submit] {
    margin-bottom: 1rem;
    width: 100%;
}

.field input {
    border: none;
    border-bottom: 2px solid rgb(20, 19, 17);
    background-color: transparent;
    outline: none;
    height: 1rem;
    padding-left: 0.5rem;
    color: rgb(0, 255, 255);
}

::placeholder {
    color: rgb(0, 255, 255);
}

.submit {
    border: none;
    outline: none;
    height: 2rem;
    background:  rgb(0, 255, 255);
    color: rgb(20, 19, 17);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}
.submit:hover {
    background: rgb(20, 19, 17);
    color: rgb(0, 255, 255);
}
