.SavePresetsButton {
  border-radius: 4px;
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  color: var(--rangeSlider-ocean);
  border: 1px solid #ffffff;
}

.SavePresetsButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}
