.Sliders--slider{
  margin: 35px;
  width: 3px;
  height: 100px;
}

.Sliders--slider .rangeslider__fill {
  background-color: var(--rangeSlider-ocean);
}

.Sliders--slider .rangeslider__handle {
  background: var(--accentElement-terquoise);
  outline: none;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  left: -8px;
}

.Sliders--slider .rangeslider__handle .rangeslider__handle-tooltip{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.Sliders--slider .rangeslider__handle:hover{
  background-color: var(--mainText-accent-blue);
  transition: 0.3s ease all;
}

.Sliders--label{
  font-size: var(--fontSize-text);
  text-transform: uppercase;
  color: var(--mainText-ordinary-white);
}
