.Sliders__block{
  margin: 20px;
  text-align: center;
  border: 1px solid var(--mainText-accent-blue);
  border-radius: 5px;
  padding: 15px;
}

.Sliders__block--sliders{
  display: flex;
  justify-content: space-around;
}

.Sliders__block--title {
  color: var(--mainText-ordinary-white);
  font-size: var(--fontSize-title);
}