.SlidersComponent__main--container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.Sliders{
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
  border: 1px solid var(--rangeSlider-ocean);
  width: 95%;
  justify-content: space-around;
  flex-wrap: wrap;
}
