.SlidersComponent__main--container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Sliders{
  border-radius: 4px;
  margin: 15px auto;
  display: flex;
  width: 95%;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid var(--rangeSlider-ocean);
}

.SlidersComponent__main--container .Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}