.SlidersComponent__main--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Sliders {
  border: 1px solid var(--rangeSlider-ocean);

  display: flex;
  width: 95%;
  margin: 15px auto;
  border-radius: 4px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.SlidersComponent__main--container .Buttons {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
