.modes-title {
    text-align: center;
    margin: auto;
}

.modes-container {
    background: #2A2A2A;
    color: white;
}

div .modes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modes > div button {
    color: white;
    margin: 10px;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
}

.modes > div button svg{
  font-size: 18px;
  margin-right: 10px;
}

.modes > div button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
