.Modes-container {
  font-family: var(--font-title);
  padding: 4px 25px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  background: var(--headerBackground-dark-super);
  
}

.Modes-title {
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-size: 1.3rem;
    color: var(--mainText-ordinary-white);
}

div .Modes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid var(--rangeSlider-ocean);
    display: flex;
    
}

.Modes > div button {
    font-family: var(--font-ordinary);
    color: white;
    margin: 10px;
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    
}

.Modes > div button svg{
  font-size: var(--fontSize-ModesIcons);
  margin-right: 10px;
  color: var(--mainText-accent-blue);
}

.Modes > div button:hover {
  transform: scale(1.2);
}
