.PlayButton {
  border-radius: 4px;
  font-size: var(--fontSize-text);
  margin: auto 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  letter-spacing: 1px;
  font-family: var(--font-ordinary);
  background-color: var(--rangeSlider-ocean);
  color: var(--mainText-ordinary-white);
  border: 1px solid var(--mainText-accent-blue);
}

.PlayButton:hover {
  background-color: var(--mainText-ordinary-white);
  color: var(--rangeSlider-ocean);
  border: 1px solid var(--mainText-accent-blue);
  cursor: pointer;
  transition: 0.3s ease all;
}

.PlayButton svg {
  font-size: var(--fontSize-ButtonsIcons);
  margin-right: 5px;
}

.PauseButton {
  display: flex;
  letter-spacing: 1px;
  font-family: var(--font-ordinary);
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: auto 30px;
  width: 100px;
  height: 30px;
  font-size: var(--fontSize-text);
  background-color: var(--rangeSlider-ocean);
  color: var(--mainText-ordinary-white);
  border: 1px solid var(--mainText-accent-blue);
}

.PauseButton:hover {
  background-color: var(--mainText-ordinary-white);
  color: var(--rangeSlider-ocean);
  border: 1px solid var(--mainText-accent-blue);
  cursor: pointer;
  transition: 0.3s ease all;
}

.PauseButton svg {
  font-size: var(--fontSize-ButtonsIcons);
  margin-right: 5px;
}

.StopButton {
  letter-spacing: 1px;
  font-family: var(--font-ordinary);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: auto 30px;
  width: 100px;
  height: 30px;
  font-size: var(--fontSize-text);
  background-color: var(--rangeSlider-ocean);
  color: var(--mainText-ordinary-white);
  border: 1px solid var(--mainText-accent-blue);
}

.StopButton:hover {
  background-color: var(--mainText-ordinary-white);
  color: var(--rangeSlider-ocean);
  border: 1px solid var(--mainText-accent-blue);
  cursor: pointer;
  transition: 0.3s ease all;
}

.StopButton svg {
  font-size: var(--fontSize-ButtonsIcons);
  margin-right: 5px;
}