.PlayButton {
  border-radius: 4px;
  margin: auto 30px;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: var(--rangeSlider-ocean);
  border: 1px solid #ffffff;
}

.PlayButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.PauseButton {
  border-radius: 4px;
  margin: auto 30px;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: var(--rangeSlider-ocean);
  border: 1px solid #ffffff;
}

.PauseButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}

.StopButton {
  border-radius: 4px;
  margin: auto 30px;
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: var(--rangeSlider-ocean);
}

.StopButton:hover {
  background-color: var(--rangeSlider-ocean);
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.3s ease all;
}
